.section.grey.lighten-5
  .row
    %img{src: image_path('Eco as Smart Object-1.png'), width:'100%'}
.parallax-container
  .parallax
    %img{src: image_path('Levels.png'), width:'100%'}
  .parallax-title
    %h1.center-align STEAM Marketplace
.section
  .row
    .col.s10.offset-s1
      .center.section-padding
        %h1.center-align STEAM Community
        %h3.blue-text.center-align It takes a community to raise a child, we should assume it takes a community to create a community.
.section.grey.lighten-5
  .row
    .col.s10.offset-s1
      .center.section-padding
        %h3 STEAM District
        %h4.blue-text An Innovation District that is WELL-Built and designed to help you succeed.
        %h5 Pareto Performance uses the WELL-Building Standard to increase your productivity and performance.
        %img{src: image_path('Pareto_Performance_Levels.jpg'), width:'500'}
.section
  .row
    %img{src: image_path('HFUtahCoOp.jpg')}
.section.grey.lighten-4
  .row
    .col.s10.offset-s1
      .center.section-padding
        %h2 Hackers | Founders Utah, Invest in your future. CoOp services and capital to help your company grow.
        %h3.blue-text Business, Technical, and Everything else to make your life suck less.
        %p Apply for funding or the Co-Op - https://gust.com/organizations/hackers-founders-utah/member_landing
        .btn.custom-button
          = link_to 'Apply', new_user_registration_path, {method: :get, class:'white-text'}
.parallax-container
  .parallax
    %img{src: image_path('153.jpg'), width:'100%'}
  .parallax-title-right
    %h1.white-text.right-align Destination STEAM
.section.grey.lighten-4
  .row
    .col.s12.m4
      .card
        .card-content
          .center
            %span.card-title Access Salt Lake
            %iframe{src: "http://accesssaltlake.com/"}
            %hr/
            %p Microcosm for the STEAM District
            %hr/
    .col.s12.m4
      .card
        .card-content
          .center
            %span.card-title Salt Lake STEAM
            %iframe{src: "http://saltlakesteam.org/"}
            %hr/
            %p The Next Great American City
            %hr/
    .col.s12.m4
      .card
        .card-content
          .center
            %span.card-title STEAM Rising
            %iframe{src: "http://steamrising.org/"}
            %hr/
            %p An Innovation District and Smart City
            %hr/
  %br/
.parallax-container
  .parallax
    %img{src: image_path('lightdrop.jpg'), width:'100%'}
  .parallax-title-right
    %h1.white-text.right-align Shedding light
.section.grey.lighten-4
  .row
    .col.s10.offset-s1
      .center.section-padding
        %h2 STEAM Training for Startups - Hackers | Founders and Investors
        %h3.blue-text Seminars, Conferences, Workshops
        %p Register here!
        .btn.custom-button
          = link_to 'Sign Up', new_user_registration_path, {method: :get, class:'white-text'}

        %h5 Date: October
        %h3.blue-text Sales and Marketing
        %p - Selling the Brooklyn Bridge: Growth Hacking for Startups Doors open at 8:30. Lunch is provided. Giveaways at 4:45 (must be present to win)
        %p - SEO is Dead! Long Live SEO! Inbound Marketing and Social Media
        %p - The 80/20 rule. Effective Marketing for Small Business
        %p - Social Media Strategies (Choosing the right platform for you)

        %h5 Date: October
        %h3.blue-text Business Strategy
        %p - Pricing Strategy – What is the right price? How to (not) discount!
        %p - Are you a Farmer or a Hunter? (Account Management vs. Sales)
        %p - If you build it, they still may not come: Introduction to Lean Startup
        %p - Get more. Do less. Perfecting your business Model.
        %p - Read the Room: What to look for at a business meeting

        %h5 Date: November
        %h3.blue-text Financing your Business / Investing / Crowdfunding
        %p - What to look for in an investor pitch deck
        %p - What to bring / ask when meeting with entrepreneurs
        %p - What to look for in an entrepreneur.
        %p - The 5 T’s (Team, Technology, Traction, TAM, and Terms)
        %p - How to evaluate offering terms (debt, equity, conversions, warrants)
        %p - How to best use AngelList and other funding platforms
        %p - Best time to invest (Seed, Bridge, A, B)
        %p - Incubators and Accellerators (The Good, The Bad, and the Ugly)

        %h5 November 19th, 2016
        %h3.blue-text Intermountain Data Conference
        %p Register to speak at the Data conference. Any subject related to data is welcome and at all levels. Traditional databases, datawarehousing, relational databases of all kinds. Business Intelligence, Reporting, and more.

        %p Data Science, advanced|predictive analytics, data visualization, Deep Learning, Large Scale Architecture, MPP and Distributed Architectures. You name it, we want it covered!

        %h5 Build your career and shed light on paths for others.
.section.grey.lighten-4
  .row
    .col.s10.offset-s1
      .center.section-padding
        %h3 Sessions for the Intermountain Data Conference
        %p Register here
        .btn.custom-button
          = link_to 'Sign Up', new_user_registration_path, {method: :get, class:'white-text'}

        %p The Big Mountain Data Conference has grown! FREE! All things Data, the Intermountain region, and SQL Saturday. Learn, speak and network at all career levels. From unfamiliar and 101, to expert level! Sponsors, prizes, FREE, free food, and more! Did we mention FREE!?!

        %h3 International Data Week
        %p Register here!
        .btn.custom-button
          = link_to 'Sign Up', new_user_registration_path, {method: :get, class:'white-text'}

        %p Early Career training and Hackathons with the whole world. Colorado and online.

        %h3 Utah Code Camp
        %p Registration for next year here soon.
        .btn.custom-button
          = link_to 'Sign Up', new_user_registration_path, {method: :get, class:'white-text'}

        %p Utah Code Camp is the largest technology agnostic conference in Utah. Join us and over a thousand others to build your career, help and meet others.

.section.grey.lighten-2
  .row
    .col.s10.offset-s1
      .center.section-padding
        %h3 Meet the Team
  .row
    .col.s12.m4
      .card.grey.darken-4
        .card-content
          .center
            %span.card-title Scott Cowdrey
            %img{src: image_path('scott.jpg'), class: 'profile-images'}
            %hr/
            %p.white-text Scott Cowdrey is
            %hr
    .col.s12.m4
      .card.grey.darken-4
        .card-content
          .center
            %span.card-title Thor Roundy
            %img{src: image_path('thor.jpg'), class: 'profile-images'}
            %hr/
            %p.white-text Thor Roundy is
            %hr
    .col.s12.m4
      .card.grey.darken-4
        .card-content
          .center
            %span.card-title Nick Baguley
            %img{src: image_path('nick.jpg'), class: 'profile-images'}
            %hr/
            %p.white-text Nick Baguley is
            %hr/
  %br/
.section.grey.lighten-4
  .row
    %h3.center Contact Us
    %br/
    .col.s12.m4.offset-m2
      %iframe{src:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.8803001057936!2d-111.89858398459339!3d40.764657379326174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f5045ab25817%3A0x53ae15762fc9cddd!2s175+W+200+S%2C+Salt+Lake+City%2C+UT+84101!5e0!3m2!1sen!2sus!4v1471711182014", width:"450", height:"350", frameborder:"0", style:"border:0"}
    .col.s12.m4.offset-m1.custom-contact
      %h5.bold STEAM Community
      %h5 200 South 175 West (Garden Level)
      %h5 Salt Lake City, UT 84103
      %br/
      %h5 1-801-808-4921
      %h5 baguley.nick@gmail.com
